@page
@model WebApplication.Pages.Requests.NewModel
@{
    ViewData["Title"] = "New request";
}
<h1>New request</h1>

<div class="row">
  <div class="col-lg-8 col-xl-7">
    <div class="card bg-dark border-secondary shadow-sm">
      <div class="card-body p-4">
        <partial name="~/Pages/Shared/_Alerts.cshtml" />
        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.StudyProgramId" class="form-label"></label>
                <select asp-for="Input.StudyProgramId" class="form-select" asp-items="@(new SelectList(Model.Programs, nameof(WebApplication.Models.StudyProgram.Id), nameof(WebApplication.Models.StudyProgram.Name)))">
                    <option value="">-- select --</option>
                </select>
                <span asp-validation-for="Input.StudyProgramId" class="text-danger"></span>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" asp-for="Input.HasValidLicense" />
                <label class="form-check-label" asp-for="Input.HasValidLicense"></label>
                <span asp-validation-for="Input.HasValidLicense" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="Input.ReadGuidelines" />
                <label class="form-check-label" asp-for="Input.ReadGuidelines"></label>
                <span asp-validation-for="Input.ReadGuidelines" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
